In [1]:
import json
import os
import numpy as np
import pandas as pd

In [2]:
batch = 7

In [3]:
targets = os.listdir(f'./Synthetic Data/Batch {batch}')
targets = [(int(file.split('-')[0]), file) for file in targets if file != '.DS_Store']
targets = sorted(targets, key = lambda x:x[0])
targets = [file[1] for file in targets]

In [4]:
eval_sd = pd.DataFrame()
for target in targets:
    
    target_parts = target.split('-')

    if len(target_parts) == 7:
        id = target_parts[0]
        dim, d_val = target_parts[1].split('_')[1:3]
        mean_type = target_parts[2].strip('M_')
        var_type = target_parts[3].strip('SD_')
        cov_type = -float(target_parts[5])
    else:
        id = target_parts[0]
        dim, d_val = target_parts[1].split('_')[1:3]
        mean_type = target_parts[2].strip('M_')
        var_type = target_parts[3].strip('SD_')
        cov_type = target_parts[4].strip('C_')
    
    # if cov_type != '0':
    #     continue
    

    with open(f'./Synthetic Data/Batch {batch}/{target}', 'r') as f:
        json_input = json.load(f)
    
    n_arg_val = json_input['num_arg_vals']
    arguments = {f'arg{i}': list(range(n_arg_val[i])) for i in range(len(n_arg_val))}
    total_combos = np.prod(n_arg_val)
    
    tmp = np.power((np.array(json_input['synthetic_data']) - np.array(json_input['theoretical_data'])),2)

    result = pd.DataFrame({'id':[id], 'num_arg_val':[n_arg_val], 'total_combos': [total_combos], 'dim': [dim], 'd_val': [d_val], 
        'mean_type':[mean_type], 'var_types':[var_type], 'cov_type':[cov_type], 'mean var': [np.mean(tmp)]})

    eval_sd = eval_sd.append(result)

In [6]:
eval_sd['mean sd'] = np.sqrt(eval_sd['mean var'])

In [7]:
eval_sd

,id,num_arg_val,total_combos,dim,d_val,mean_type,var_types,cov_type,mean var,mean sd
0,0,"[5, 5]",25,2,rand,rand,0.01,rand,0.000049,0.007001
0,1,"[5, 8]",40,2,rand,rand,0.01,rand,0.000048,0.006958
0,2,"[10, 7]",70,2,rand,rand,0.01,rand,0.000038,0.006133
0,3,"[11, 5]",55,2,rand,rand,0.01,rand,0.000040,0.006352
0,4,"[6, 11]",66,2,rand,rand,0.01,rand,0.000044,0.006614
...,...,...,...,...,...,...,...,...,...,...
0,115,"[11, 11, 9, 7, 10, 7, 10]",5336100,7,rand,rand,0.02,rand,0.000057,0.007557
0,116,"[11, 8, 11, 11, 10, 9, 9]",8624880,7,rand,rand,0.02,rand,0.000057,0.007560
0,117,"[9, 8, 8, 6, 10, 8, 5]",1382400,7,rand,rand,0.02,rand,0.000057,0.007572
0,118,"[10, 9, 10, 5, 9, 11, 7]",3118500,7,rand,rand,0.02,rand,0.000057,0.007559
0,119,"[11, 11, 7, 9, 7, 5, 7]",1867635,7,rand,rand,0.02,rand,0.000057,0.007559

In [8]:
eval_sd[(eval_sd['cov_type'] == '-0.67') & (eval_sd['var_types'] == '0.01')]['mean sd'].mean()

nan

In [47]:
eval_sd[(eval_sd['cov_type'] == '-0.33') & (eval_sd['var_types'] == '0.01')]['mean sd'].mean()

nan

In [48]:
eval_sd[(eval_sd['cov_type'] == '0') & (eval_sd['var_types'] == '0.01')]['mean sd'].mean()

nan

In [49]:
eval_sd[(eval_sd['cov_type'] == '0.33') & (eval_sd['var_types'] == '0.01')]['mean sd'].mean()

nan

In [50]:
eval_sd[(eval_sd['cov_type'] == '0.67') & (eval_sd['var_types'] == '0.01')]['mean sd'].mean()

nan

In [9]:
eval_sd[(eval_sd['cov_type'] == 'rand') & (eval_sd['var_types'] == '0.01')]['mean sd'].mean()

0.00500778221068567

In [52]:
eval_sd[(eval_sd['cov_type'] == -0.67) & (eval_sd['var_types'] == '0.02')]['mean sd'].mean()

nan

In [53]:
eval_sd[(eval_sd['cov_type'] == -0.33) & (eval_sd['var_types'] == '0.02')]['mean sd'].mean()

nan

In [54]:
eval_sd[(eval_sd['cov_type'] == '0') & (eval_sd['var_types'] == '0.02')]['mean sd'].mean()

nan

In [55]:
eval_sd[(eval_sd['cov_type'] == '0.33') & (eval_sd['var_types'] == '0.02')]['mean sd'].mean()

nan

In [56]:
eval_sd[(eval_sd['cov_type'] == '0.67') & (eval_sd['var_types'] == '0.02')]['mean sd'].mean()

nan

In [10]:
eval_sd[(eval_sd['cov_type'] == 'rand') & (eval_sd['var_types'] == '0.02')]['mean sd'].mean()

0.010099389579620479